<p style="color: green"><%= notice %></p>

<%= render @work_category_shift_type %>

<div>
  <%= link_to "Edit this shift type", edit_work_category_shift_type_path(@work_category_shift_type) %> |
  <%= link_to "Back to shift types", work_category_shift_types_path %>

  <%= button_to "Destroy this shift type", @work_category_shift_type, method: :delete %>
</div>
