<p style="color: green"><%= notice %></p>

<%= render @work_record %>

<div>
  <%= link_to "Edit this record", edit_work_record_path(@work_record) %> |
  <%= link_to "Back to records", work_records_path %>

  <%= button_to "Destroy this record", @work_record, method: :delete %>
</div>
